<div class="dark">
  <div class="container">
    <h1 class="user-index-title">全てのヒヤラー達は、<%= @users.count %>人です。</h1>
    
    <div class="all-users">
      <ul class="users">
        <% @users.each do |user| %>
          <div class="users-name">
          <li>
            <%= link_to(user.name, user) %>
          </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>