<div class="dark">
<div class="container">
	<h1>投稿一覧</h1>
	
		<% @posts.each do |post| %>
			<div id="contents">
				<div class="item">
					<%= link_to("#{post.title}", post_path(post.id)) %>
				</div>
			</div>
		<% end %>

</div>
</div>