<div class="dark">
    <div class="container">
        <div class="post-content">
            <h1 class="post-title"><%= @post.title %></h1>

            <br>

            <div class="post">
                <%= simple_format(h @post.content) %>
            </div>

            <% if current_user.id == @post.user_id %>
                    <%= link_to("投稿を編集する", edit_post_path(@post), class: "edit-post-link btn btn-success") %>
            <% end %>
        </div>
    </div>
</div>