/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "toastr";

input.btn.btn-success {
    margin: 15px;
}

.navbar {
    margin-bottom: 0;
    display: block;
    width: 100vw;
    
}

.registrations-new-login {
    margin: 10px;
    margin-bottom: 50px;
    font-weight: bold;
}

.navbar-default {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
}

.navbar .navbar-right li a{
    color: #fff;
    font-family: "Hannari", 'Eater', cursive;
}

.navbar .navbar-brand {
    color: red;
    font-family: "Hannari", 'Eater', cursive;
}

.container-fluid {
    background-color: rgba(87, 58, 58, 0.363);
}

.container {
    padding-top: 100px;
}

.dark {
    padding-top: 0;
    position: relative;
    min-height: 100vh !important;
    height: auto;
    min-height: 300px;
    background: url("about.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 0;
    color: #fff;
}

.btn {
    margin: 10px;
}

.container {
    padding-top: 100px;
}

// clearfix
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}